<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Linh kiện điện tử Công Nghiệp</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="style.css"/>
  </head>
  <body>
    <div id="wrapper">
      <header class="header" id="header">
        <div class="header__top">
          <div class="container">
            <div class="col col-50">
              <div class="phone"><span class="buy-online">Mua hàng online: 1900.03.44</span><span class="hot">Than phiền: 01684.083.084</span></div>
            </div>
            <div class="col col-50">
              <div class="header__content--contact text-right">
                <ul class="list-inline">
                  <li><a class="dangnhap" href="#">Đăng nhập</a></li>
                  <li><a class="dangky" href="#">Đăng ký</a></li> 
                </ul>
              </div>
            </div>
            <div class="clear-fix"></div>
          </div>
        </div>
        <div class="header__mid">
          <div class="container">
            <div class="col col-16">
              <div class="header__logo text-center"><a href="#"><img src="images/logo.png" alt="logo"/></a></div>
            </div>
            <div class="col col-66">
              <div class="header__search">
                <form action="">
                  <input type="search" placeholder="Tìm kiếm ..."/>
                  <button><img class="icon2" src="images/search.png" alt=""/></button>
                </form>
              </div>
            </div>
            <div class="col col-16">
              <div class="header__cart"><a class="text-center" href="#"><img class="icon2" src="images/cart.png" alt=""/><span>Giỏ hàng: 0 (SP)</span></a></div>
            </div>
            <div class="clear-fix"></div>
          </div>
        </div>
        <div class="header__bottom">
          <div class="container">
            <div class="col col-16">
              <div class="header__category">
                <p>danh mục</p>
              </div>
            </div>
            <div class="col col-83">
              <div class="header__menu">
                <ul class="list-inline">
                  <li><a href="#">Trang chủ</a></li>
                  <li><a href="#">giới thiệu</a></li>
                  <li><a href="#">tin tức & sự kiện</a></li>
                  <li><a href="#">liên hệ</a></li>
                </ul>
              </div>
            </div>
            <div class="clear-fix"></div>
          </div>
        </div>
      </header>
      <div class="container">
        <div class="content">
          <aside class="category" id="category">
            <div class="category__content">
              <ul>
                <li><a href="#"><img class="icon--sitebar" src="images/icon1.png" alt=""/><span>Vi điều khiển - Nhúng</span></a></li>
                <li><a href="#"><img class="icon--sitebar" src="images/icon2.png" alt=""/><span>Mạch điện tử</span></a></li>
                <li><a href="#"><img class="icon--sitebar" src="images/icon3.png" alt=""/><span>Linh kiện điện tử</span></a></li>
                <li><a href="#"><img class="icon--sitebar" src="images/icon4.png" alt=""/><span>Module - Cảm biến</span></a></li>
                <li><a href="#"><img class="icon--sitebar" src="images/icon5.png" alt=""/><span>Phụ kiện điện tử</span></a></li>
                <li><a href="#"><img class="icon--sitebar" src="images/icon6.png" alt=""/><span>IC - chức năng</span></a></li>
                <li><a href="#"><img class="icon--sitebar" src="images/icon7.png" alt=""/><span>Robot - Pin</span></a></li>
                <li><a href="#"><img class="icon--sitebar" src="images/icon8.png" alt=""/><span>Led - Oneled</span></a></li>
                <li><a href="#"><img class="icon--sitebar" src="images/icon9.png" alt=""/><span>Smart home</span></a></li>
                <li><a href="#"><img class="icon--sitebar" src="images/icon10.png" alt=""/><span>3D Printer & CNC</span></a></li>
              </ul>
            </div>
          </aside>
          <div class="content__wrapper"></div>
        </div>
      </div>
      <footer class="footer" id="footer">
        <div class="footer__top">
          <div class="container">
            <div class="col col-25">
              <div class="footer__top--links">
                <ul class="list-inline">
                  <li><a href="#"><img src="images/facebook.png" alt=""/></a></li>
                  <li><a href="#"><img src="images/google.png" alt=""/></a></li>
                  <li><a href="#"><img src="images/youtube.png" alt=""/></a></li>
                </ul>
              </div>
            </div>
            <div class="col col-75">
              <div class="footer__top--recieve">
                <div class="col col-50">
                  <div class="footer__top--text"><img src="images/letter.png" alt=""/><span>đăng kí nhận thông tin sản phẩm</span></div>
                </div>
                <div class="col col-50">
                  <div class="footer__top--form text-right">
                    <form action="">
                      <input type="email" placeholder="Email Address *"/>
                      <input type="submit" value="Đăng Ký"/>
                    </form>
                  </div>
                </div>
                <div class="clear-fix"></div>
              </div>
            </div>
            <div class="clear-fix"></div>
          </div>
        </div>
        <div class="container">
          <div class="footer__bottom">
            <div class="footer__bottom--infor">
              <p>Công Ty TNHH Thiết Bị Và Công Nghệ Minh Hà</p>
              <p>Trụ sở: Đại Vĩ - Liên Hà - Đông Anh - Hà Nội</p>
              <p>GPĐKKD Số: 01.05.165.062 Do Sở KH VÀ ĐT TP.HN cấp ngày: 28.02.2011</p>
            </div>
            <div class="footer__bottom--register"><img src="images/thongbaobct.png" alt=""/></div>
          </div>
        </div>
      </footer>
    </div>
    <!--#wrapper-->
    <!--JS-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </body>
</html>